  nextcloud:
    image: {{ registry_url or 'dh-mirror.gitverse.ru/library/nextcloud' }}
    restart: unless-stopped
{% if config.get('ports') %}
    ports:
{% for ext, intv in config['ports'].items() %}
      - "{{ ext }}:{{ intv }}"
{% endfor %}
{% else %}
    ports:
      - "8080:80"
{% endif %}
    environment:
      POSTGRES_HOST: {{ config.get('db_host', 'postgresql-redos') }}
      POSTGRES_DB: {{ config.get('db_name', 'nextcloud') }}
      POSTGRES_USER: {{ config.get('db_user', 'gosdocker') }}
      POSTGRES_PASSWORD: {{ config.get('env', {}).get('POSTGRES_PASSWORD', 'changeme') }}
{% if config.get('env', {}).get('TZ') %}
      TZ: "{{ config.get('env', {}).get('TZ') }}"
{% endif %}
{% if config.get('volumes') %}
    volumes:
{% for host, container in config['volumes'].items() %}
      - {{ host }}:{{ container }}
{% endfor %}
{% else %}
    volumes:
      - nextcloud_data:/var/www/html
{% endif %}
    depends_on:
      - {{ config.get('db_host', 'postgresql-redos') }}
    networks:
      - gosdocker
