# Environment
.env
.env.bak.*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
.syft_cache/
.trivy_cache/

# Temp
/tmp/gosdocker-constructor/

# Node
node_modules/
dist/
