mariadb-redos:
    image: {{ registry_url or 'dh-mirror.gitverse.ru/library/mariadb:10.6' }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 30s
{% if config.get('ports') %}
    ports:
{% for ext, intv in config['ports'].items() %}
      - "{{ ext }}:{{ intv }}"
{% endfor %}
{% endif %}
    environment:
      MARIADB_ROOT_PASSWORD: {{ config.get('env', {}).get('MARIADB_ROOT_PASSWORD', 'changeme') }}
      TZ: "{{ config.get('env', {}).get('TZ', 'Europe/Moscow') }}"
{% if config.get('volumes') %}
    volumes:
{% for host, container in config['volumes'].items() %}
      - {{ host }}:{{ container }}
{% endfor %}
{% else %}
    volumes:
      - mariadb-data:/var/lib/mysql
{% endif %}
    networks:
      - gosdocker
