  angie-pro:
    image: {{ registry_url or 'dh-mirror.gitverse.ru/riftbit/angie' }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost/"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 10s
{% if config.get('ports') %}
    ports:
{% for ext, intv in config['ports'].items() %}
      - "{{ ext }}:{{ intv }}"
{% endfor %}
{% endif %}
{% if config.get('volumes') %}
    volumes:
{% for host, container in config['volumes'].items() %}
      - {{ host }}:{{ container }}
{% endfor %}
{% endif %}
{% if config.get('env') %}
    environment:
{% for key, value in config['env'].items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    networks:
      - gosdocker
